div.special {
	color:#666666;
}
a.special {
	color:#0000ff;
}
button.special {
	color:ffff00;
}
input.special {
}
select.special {
}
td.bottom {
	border-bottom: 1px solid #666666;
}
td.right {
	text-align: right;
}
td.bottom_right {
	text-align: right;
	border-bottom: 1px solid #666666;
}
td.center {
	text-align: center;
}
td.bottom_center {
	text-align: center;
	border-bottom: 1px solid #666666;
}