body{
    width: 800px;
    max-width:fit-content;
}

H1 {
	text-align: center;
}
H2 {
	text-align: center;
}

.invisible {
    visibility: hidden;
}

.warning {
    color:red;
    visibility: hidden;
}

.dbstatus {
    border: 1px solid red;
    border-spacing: 1px;
    padding-right: 4px;
    padding-top: 1px;
}

.dbstnum {
    text-align: right;
}