div.special {
	font: 10px Arial, Helvetica, sans-serif;
}
div.fileupload {
	height: 0px;
	width:0px; 
	overflow:hidden;
}
button.special {
	height: 8px;
	font: 8px Arial, Helvetica, sans-serif;
}
input.special {
	height: 8px;
	font: 8px Arial, Helvetica, sans-serif;
}
select.special {
	height: 8px;
	font: 8px Arial, Helvetica, sans-serif;
}